.logo{
    height: 40px;
    width: 40px;
}


.navbar-brand{
    font-family: monospace;
}

.error{
    color: red;
}

.img-fluid {
    width: 100%;
  }
  
.VuePagination{
    margin-top: 2%;
    margin-bottom: 2%;
}

.VuePagination__pagination{
    justify-content: center;
    align-items: center;
}

.VuePagination__count{
    text-align: center;
}

pre {
background-color: rgb(93, 88, 133);
color: white;
}

.ql-align-right {
text-align: right;
}

.ql-align-center {
text-align: center;
}